.user {
  .user-card {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .search {  
      width: 20vw; 
      margin-bottom: 15px;

      .el-input {
        float: left;
        width: 12vw;
      }
  
      .button {
        float: left;
        right: 0;
        width: 4vw;
      }
    }

    .search::after {
      content: '';
      display: block;
      clear: both;
    }

    .body {
      .el-pagination {
        padding: 0;
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
      }

    }
  }
}