.book-list {
  position: relative;

  .list-header{
    display: flex;
    justify-content: space-between;
  }

  .body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .search {  
      width: 20vw; 

      .el-input {
        float: left;
        width: 12vw;
      }
  
      .button {
        float: left;
        right: 0;
        width: 4vw;
      }
    }

    .search::after {
      content: '';
      display: block;
      clear: both;
    }    
    margin-bottom: 3vh;
  }


  .table {
    .tag{
      margin-right: 6px;
    }       
  }

  .pagination {
    margin-top: 20px;
    padding: 0;
    justify-content: end;
  }

  

  
}



.book-list::after {
  content: '';
  display: block;
  clear: both;
}